<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="org.amqp.notification" version="1.0.5">
  <name>AMQP notification</name>
  <description>AMQP notification for cordova</description>
  <license>MIT</license>
  <keywords>push,notification,rabbitMQ,amqp</keywords>
  <author email="developer@prestbit.de" href="http://www.prestbit.de">Prestbit</author>
  <engines>
      <engine name="cordova" version=">=10.0.0" />
  </engines>
  <js-module src="www/notification.js" name="Push">
    <clobbers target="push" />
  </js-module>
  <!-- android -->
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Push">
        <param name="android-package" value="org.amqp.notification.Push"/>
      </feature>
    </config-file>
    <source-file src="src/android/org/amqp/notification/Config.java" target-dir="src/org/amqp/notification/cordova" />
    <source-file src="src/android/org/amqp/notification/Push.java" target-dir="src/org/amqp/notification/cordova" />
    <source-file src="src/android/org/amqp/notification/PushManager.java" target-dir="src/org/amqp/notification/cordova" />
    <source-file src="src/android/org/amqp/notification/PushNotification.java" target-dir="src/org/amqp/notification/cordova" />
    <source-file src="src/android/org/amqp/notification/PushReceiver.java" target-dir="src/org/amqp/notification/cordova" />
     
    <source-file src="src/android/org/amqp/notification/NotificationService.java" target-dir="src/org/amqp/notification/cordova" />
    <lib-file src="src/android/libs/amqp-client-5.24.0.jar" />
    <lib-file src="src/android/libs/slf4j-api-1.7.32.jar" />
    <config-file target="AndroidManifest.xml" parent="/*">
      <uses-permission android:name="android.permission.INTERNET" />
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/manifest/application">
        <service android:exported="false" android:name="org.amqp.notification.NotificationService" />
        <receiver android:exported="false" android:name="org.amqp.notification.PushReceiver">
            <intent-filter>
                <action android:name="org.amqp.notification.push.intent.action" />
            </intent-filter>
        </receiver>
    </config-file>
  </platform>
  <!-- iOS -->
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="Push">
        <param name="ios-package" value="Push"/>
      </feature>
    </config-file>
    <source-file src="src/ios/Push.swift" target-dir="src/ios" />
    <podspec>
      <pods use-frameworks="true">
        <pod name="RMQClient" version="~> 0.12.0" />
      </pods>
    </podspec>
</platform>
</plugin>
